* {
    margin: 0;
    padding: 0;
}

body {
    text-align: center;
}

h1 {
    margin-top: 20px;
}

h2 {
    margin-top: 20px;
}

table {
    border-collapse: collapse;
    margin: 10px auto;
}

td, th {
    border: 1px solid black;
    padding: 5px 8px;
}

th {
    color: white;
    background-color: gray;
}

.yellow {
    background-color: #FFFF0077;
}

.green {
    background-color: #00800077;
}